.card{
    padding: 10px;
    margin-bottom: 20px;
}
.pagination-wrap{
    display: flex;
    justify-content: center;
}
.edited{
    color: #3AAACf;
    text-decoration: underline;
}
.done{
    color: #bf3030;
    border: 1px solid;
    padding: 2px;
    border-radius: 5px;
}

.dropdown{
    margin-bottom: 20px;
    display: flex;
}
.filter_head{
    margin-bottom: 5px;
    font-weight: bold;
}